<!DOCTYPE html>
    <script src="../Assets/Js/logoff.js"> </script>
    <header>
        <div class="logo"></div>
        <div>
            <h4> <span>SUA</span> IDEIA A UM PASSO DA <span>REALIDADE</span></h4>
        </div>

        <nav>
            <ul>
                <li><a href="member.php">Home</a> </li>
                <li><a href="regras.php">Regras</a> </li>
                <li><a id="logoff_btn" href="../index.php">Sair</a> </li>
                
            </ul>
        </nav>
    </header>
