<!DOCTYPE html>
    <div class="myModal" data-role="modal">
            <div class="myModal-content container">
                <div class="myModal-header">
                    <span class="myClose" data-role="close">x</span>
                    <h2 class="title">Formulário de Advertência</h2>
                </div>
                <div class="myModal-body">
                    <form class="">
                        <div class="form-group row">
                            <label for="motivo" class="col-form-label">Motivo</label>
                            <div>
                                <select id="motivo" class="form-control">
                                    <option></option>
                                    <option>Motivo 2</option>
                                    <option>Motivo 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row"  style="width: 90px;">
                            <label for="pontos" class="col-form-label">Pontos</label>
                            <div>
                                <input id="pontos" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group row"  style="width: 90px;">
                            <label for="responsavel" class="col-form-label">Data</label>
                            <div>
                                <input id="data" class="form-control" type="text">
                            </div>
                        </div> 

                    </form>

                </div>
                <div class="myModal-footer container-fluid">
                    <button class="btn btn-sm btn-success" data-role="close" class="myConfirm">Confirmar</button>
                    <button class="btn btn-sm btn-danger" data-role="close" class="myCancel">Cancelar</button>
                </div>
            </div>
        </div>

