footer {
    color: black;
    font-family: sans-serif;
    /* background-color: rgba(100, 100, 100, 0.5); */
    /* background-color: #1d6fb7; */
     background-color: white; 
   
}


#rodape{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

    
}

#rodape img {
    display: block;
    margin: auto;
}

.copyrights {
    padding: 3px;
    font-size: 18px;
}

.copyrights a {
    color: #1d6fb7; 
    font-weight: 800;
}

.copyrights a:hover {
    font-size:20px;
}


