
/*MAIN TABLE*/
#mainTable th, #innerTable th{
    background-color: #4045FF;
    color: white;
}

/*INNER TABLE*/
#innerTable tr{
    background-color: white;
    border-color: red;
}
#innerTable td:hover {
    background-color: blue;
    color: white;
   
}
/*NAVBAR*/
.navbar {
    border: 0;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 4px;
    background-color: rgba(50, 50, 50, 0.5);
}

.navbar-nav  li a:hover {
    color: #4045FF !important;
    background-color: none;

}

/*BTN ICON*/
button.btn:hover{
    color:blue;
}

@media (max-width:600px){
    #innerTable{
        width: 100px;
    }
}