body {
    margin: 0;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
    background-image: url("../Img/bg1.jpg");
    background-repeat: no-repeat;
    
}

body, body * {
    box-sizing: border-box;
    
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center;  */
    background-color: white;
    margin-top: 20px; 
    margin-bottom: 20px;
    flex: 0 0 90vh;
    padding: 30px 30px;
    max-height: 80vh; 
    min-height: 600px; 
}

button {
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    background-color: unset;
    padding: .5em 1ch;
    border-radius: 2em;
    /* transition: all .5s ease; */
}

button.filled {
    color: #304858;
    border: 2px solid #1d6fb7;
}

button.filled.active, button.filled:hover {
    background-color: #1d6fb7;
    color: white;
}

a:hover {
    text-decoration: none;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 25px;


}

.perfil #infoWrap {
    display: flex;
    flex-direction: row;
}

.perfil #infoWrap div {
    margin: 20px 20px 0 20px;
    color: #4B4A55; 
}

.perfil #infoWrap #info {
    display: flex;
    flex-direction: column;
    padding-top: 25px; 
}

.perfil #infoWrap #profileName {
    font-size: 22px;
    font-weight: bold;
}

.perfil #infoWrap #profileRole {
    font-size: 18px;
}

.perfil #profilePoints {
    font-size: 35px;
    display: flex;
    text-justify: center;
    align-items: center;
}

#myPhoto {
    border: 2px solid #1d6fb7;
     width: 150px;
    height: auto;  
     /* height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;  */
}


@media (max-width: 600px) {
    .perfil{
        display: flex;
        /* flex-direction: column; */
    }

    .perfil #infoWrap #info {
        padding-top: 0px; 
    }

    .perfil #infoWrap #profileName {
        font-size: 15px;
    }

    .perfil #infoWrap #profileRole {
        font-size: 11px;
    }

    .perfil #profilePoints {
        font-size: 20px;
    } 

    #myPhoto {
    width: 90px;
    height: auto; 
}



}

